.home {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.right {
    position: absolute;
    right: 10px;
    padding: 10px;
}

.underline {
    text-decoration: underline;
}

.topic {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.eval {
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}