<div class="right">
    <a href="https://www.facebook.com/RepublicEd"><img src="/images/facebook.png"></a>
</div>

<div>
    <a href="#"><img src="/images/republicedLogo.png" class="img-responsive center-block"></a>
</div>

<div class="row well">
    <div class="col-md-6">
        <img src="/images/SpeakingInTongues.jpg" height="300" align="right">
    </div>
    <div class="col-md-6">
        <p style="font-size:20px"><strong>MOVIE EVENT: <a href="https://www.facebook.com/events/108132616709847/">Speaking In Tongues</a></strong></p>
        <p style="font-size:22px">Monday, May 7th, 6-8p <br> Public Library of New London <br> 63 Huntington St, New London, Connecticut 06320 <br> Pizza and childcare provided.</p>
    </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#/about">About Us</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="">Resources By Topic
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#kidslearn">How kids learn?</a></li>
          <li><a href="#evaluate">What works to evaluate students, teachers, and schools?</a></li>
          <li><a href="#challenges">Challenges to learning</a></li>
          <li><a href="#misguided">Misguided efforts that haven’t worked</a></li>
          <li><a href="#benefits">The benefits of a high quality Public Education for all?</a></li>
        </ul>
      </li> 
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="">Resources By Type
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#articles">Articles</a></li>
          <li><a href="#videos">Videos</a></li>
          <li><a href="#blogs">Blogs</a></li>
          <li><a href="#info">Infographics <span class="label label-default">New</span></a></li>
          <li><a href="">Books (Coming Soon!)</a></li>
          <li><a href="">Podcasts (Coming Soon!)</a></li>
          <li><a href="">Sample Policy (Coming Soon!)</a></li>
          <li><a href="">Studies (Coming Soon!)</a></li>
        </ul>
      </li> 
      <li><a href="#events">Events</a></li>
      <li><a href="#/recentnews">Recently In The News</a></li>
      <li><a href="#/contact">Contact Us</a></li>
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="">Support Us
              <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="#donate">Material Donations</a></li>
              <li><a href="#volunteer">Volunteer</a></li>
          </ul>
      </li>
    </ul>
  </div>
</nav>