<div class="right">
    <a href="https://www.facebook.com/RepublicEd"><img src="/images/facebook.png"></a>
</div>

<div>
    <a href="#"><img src="/images/republicedLogo.png" class="img-responsive center-block"></a>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#/about">About Us</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#topic">Resources By Topic
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#kidslearn">How kids learn?</a></li>
          <li><a href="#">What works to evaluate students, teachers and schools?</a></li>
          <li><a href="#">Challenges to learning</a></li>
          <li><a href="#">Misguided efforts that haven’t worked</a></li>
          <li><a href="#">The benefits of a high quality Public Education for all?</a></li>
        </ul>
      </li> 
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Resources By Type
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#articles">Articles</a></li>
          <li><a href="#">Videos</a></li>
          <li><a href="#blogs">Blogs</a></li>
          <li><a href="#">Books</a></li>
          <li><a href="#">Podcasts</a></li>
          <li><a href="#">Sample Policy</a></li>
          <li><a href="#">Studies</a></li>
        </ul>
      </li> 
      <li><a href="#">Events</a></li>
      <li><a href="#/recentnews">Recently In The News</a></li>
      <li><a href="#/contact">Contact Us</a></li>
      <li><a href="#">Support Us</a></li>
    </ul>
  </div>
</nav>